<form [formGroup]="form">
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="10px" fxLayoutAlign="start center"
        fxLayoutAlign.gt-sm="center start">
        <div fxFlex="100%">
            <mat-form-field appearance="fill">
                <mat-label>Nome da empresa</mat-label>
                <input matInput formControlName="CorpName" required>
            </mat-form-field>
        </div>
    </div>
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="10px" fxLayoutAlign="start center"
        fxLayoutAlign.gt-sm="center start">
        <div fxFlex="50%">
            <mat-form-field appearance="fill">
                <mat-label>Cargo</mat-label>
                <input matInput formControlName="cargo" required>
            </mat-form-field>
        </div>
        <div fxFlex="50%">
            <mat-form-field appearance="fill">
                <mat-label>Nível</mat-label>
                <input matInput formControlName="nivel" required>
            </mat-form-field>
        </div>
    </div>
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="10px" fxLayoutAlign="start center"
        fxLayoutAlign.gt-sm="center start">
        <div fxFlex="50%">
            <mat-form-field appearance="fill">
                <mat-label>Principal ferramenta</mat-label>
                <input matInput formControlName="ferramenta" required>
            </mat-form-field>
        </div>
        <div fxFlex="50%">
            <mat-form-field appearance="fill">
                <mat-label>Data de admissão</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="admissao" required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
        </div>
    </div>
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="10px" fxLayoutAlign="start center"
        fxLayoutAlign.gt-sm="center start">
        <div fxFlex="100%">
            <button mat-raised-button matStepperPrevious>Voltar</button>
            <button mat-raised-button color="primary" matStepperNext>Próximo</button>
        </div>
    </div>
</form>